.body {
    width: 100%;
    min-width: 360px;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Roboto,serif;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.header {
    padding: 64px;
    margin-left: 100px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    position:absolute;
    z-index: 1000;
}

.container {
    margin: 0 auto;
    
}

.header__inner { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    
}

.nav__link {
    margin-left: 15.5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: .75;
    transition: opacity .2s linear;
}

.nav__link:hover {
    color: #AB2421;
}

.nav__link_svg:hover path{
    stroke: #AB2421;
}

.nav__link {
    margin-left: 30px;
    text-decoration: none;
}




.header__info {
    margin-left: 30px;
    text-decoration: none;
    margin-left: 502px;
}

.intro { 
    padding-top: 129px;
    display: flex;
    flex-direction: column;
    justify-content:left;
    position: absolute;
    width: 1920px;
    height: 890px;
    left: 0px;
    top: 0px;
    background: linear-gradient(84deg, rgba(0, 0, 0, 0.8) 6.8%, rgba(0, 0, 0, 0) 40.54%), url("../image/main-logo.jpg") no-repeat center / cover;
}

.intro__title {
    
    position: absolute;
    width: 727px;
    height: 156px;
    left: 203px;
    top: 449px;


    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;

    color: #FFFFFF;

}

.intro__title2 { 
    position: absolute;
    width: 746px;
    height: 62px;
    left: 203px;
    top: 625px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 125%;

    letter-spacing: 0.02em;

    color: #FFFFFF;

}


  
.logo__name {
    
    position: absolute;
    width: 295px;
    height: 153px;
    left: 199px;
    top: 210px;
}

.btn__bell {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;

    color: #FFFFFF;

    box-sizing: border-box;
    position: absolute;
    width: 177px;
    height: 40px;
    top: calc(50% - 40px/2);
    justify-content: center;
    margin-left: 30px;
    background-color: transparent;

    border: 2px solid #FFFFFF;
    border-radius: 50px;
}

.btn__bell:hover {
    color: #AB2421;
    border: 2px solid #AB2421
}

.btn__logo {
    position: relative;
    margin-top: -20px;
    left: -625px;
    top: 625px;
    background: #AB2421;
    border-radius: 50px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    box-sizing: border-box;
    width: 261px;
    height: 55px;


}

.btn__logo:hover{
    color: #AB2421;
    background-color: #FFFFFF;
    border: 2px solid #AB2421
}
.line {
    border-bottom: #AB2421;
    position: absolute;
    width: 935px;
    height: 4px;
    left: 0px;
    top: 1015px;
    background: #AB2421;
    transform: rotate(-180deg);
}

.banner__btn {
    position: absolute;
    right: 711px;
    border: #FFFFFF;
    width: 100px;
    height: 100px;
}

.banner__next__btn {
    
    border: #AB2421;
    border-radius: 0px;
    background: #AB2421;    
    position: absolute;
    width: 100px;
    height: 100px;
    right: 810px;
    transform: rotate(-180deg);
}

.banner__btn:hover{
    
    background-color:#AB2421;
    stroke: #AB2421;
}
.banner__btn:hover path{
    stroke: #FFFFFF;
}

.banner__next__btn:hover {
    background-color:#FFFFFF;
}

.banner__next__btn:hover path {
    stroke: #000000;
}

.position__product {
    position: absolute;
    bottom: -598px;
    left: 0px;
    height: 499px;
    width: 910px;
    background-color: #FFFFFF;
}

.kmetr {
    white-space: nowrap;
    
    width: 288px;
    height: 92px;
    margin-top: 133px;
    margin-left: 199px;

    font-family: Rubik,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 78px;
    line-height: 92px;

    color: #000000;
}
sup {
    font-size: 50%;
    font-weight: 400;
}
.premium__bearings {
    margin: 2px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;

    text-transform: uppercase;
    position: static;
    margin-left: 199px;

    color: #B1B2B3;
}

.production {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
    margin-bottom: 199.49px;
    left: 910px;
    top: 919px;
    position: absolute;
    height: 600px;
    width: 1017px;
    background-color: #EEEEEE;
    justify-content: space-between;
}

.production__type {
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    cursor: pointer;
    margin-left: 96px;
    margin-top: 76px;
    transition: 2s;
}

.production__type:hover path {
    stroke: #AB2421;
    transform: scale(1.1);
}
.production__type:hover .production__name {
    text-decoration:underline #AB2421;
}

.production__name {
    position: absolute;
    justify-content: space-between;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 155px;
    color: #AB2421;
}


