.body {
    width: 100%;
    min-width: 360px;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Roboto,serif;
    position: relative;
}

::-webkit-scrollbar { width: 0px; display: none; }

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.header {
    padding: 50px;
    margin-left: 123px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    position:absolute;
    z-index: 1000;
}

.container {
    margin: 0 auto;
    
}

.header__inner { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    
}

.nav__link {
    margin-left: 15.5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: .75;
    transition: opacity .2s linear;
}

.nav__link:hover {
    color: #AB2421;
}

.nav__link_svg:hover path{
    stroke: #AB2421;
}

.nav__link {
    margin-left: 30px;
    text-decoration: none;
}




.header__info {
    margin-left: 30px;
    text-decoration: none;
    margin-left: 409px;
}

.intro { 
    /* padding-top: 129px; */
    display: flex;
    flex-direction: column;
    justify-content:left;
    position: absolute;
    width: 1920px;
    height: 890px;
    left: 0px;
    top: 0px;
    background: linear-gradient(84deg, rgba(0, 0, 0, 0.8) 6.8%, rgba(0, 0, 0, 0) 40.54%), url("../image/main-logo.jpg") no-repeat center / cover;
}

.intro__title {
    
    position: absolute;
    width: 727px;
    height: 156px;
    left: 203px;
    top: 449px;


    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;

    color: #FFFFFF;

}

.intro__title2 { 
    position: absolute;
    width: 746px;
    height: 62px;
    left: 203px;
    top: 625px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 125%;

    letter-spacing: 0.02em;

    color: #FFFFFF;

}


  
.logo__name {
    
    position: absolute;
    width: 295px;
    height: 153px;
    left: 199px;
    top: 210px;
}

.btn__bell {
    cursor: pointer;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;

    color: #FFFFFF;

    box-sizing: border-box;
    position: absolute;
    width: 177px;
    height: 40px;
    top: calc(50% - 40px/2);
    justify-content: center;
    margin-left: 30px;
    background-color: transparent;

    border: 2px solid #FFFFFF;
    border-radius: 50px;
}

.btn__bell:hover {
    color: #AB2421;
    border: 2px solid #AB2421
}

.btn__logo {
    position: relative;
    margin-top: 96px;
    left: -625px;
    top: 625px;
    background: #AB2421;
    border-radius: 50px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    border-color: #AB2421;
    color: #FFFFFF;

    box-sizing: border-box;
    width: 261px;
    height: 55px;


}

.btn__logo:hover{
    cursor: pointer;
    color: #AB2421;
    background-color: #FFFFFF;
    border: 2px solid #AB2421
}
.line {
    border-bottom: #AB2421;
    position: absolute;
    width: 935px;
    height: 4px;
    left: 0px;
    top: 886px;
    background: #AB2421;
    transform: rotate(-180deg);
}

.banner__btn {
    position: absolute;
    right: 711px;
    border: #FFFFFF;
    width: 100px;
    height: 100px;
}

.banner__next__btn {
    
    border: #AB2421;
    border-radius: 0px;
    background: #AB2421;    
    position: absolute;
    width: 100px;
    height: 100px;
    right: 810px;
    transform: rotate(-180deg);
}

.banner__btn:hover{
    cursor: pointer;
    background-color:#AB2421;
    stroke: #AB2421;
}
.banner__btn:hover path{
    stroke: #FFFFFF;
}

.banner__next__btn:hover {
    cursor: pointer;
    background-color:#FFFFFF;
}

.banner__next__btn:hover path {
    stroke: #000000;
}

.position__product {
    position: absolute;

    left: 0px;
    top: 890px;
    height: 499px;
    width: 910px;   
    background-color: #FFFFFF;
}

.kmetr {
    white-space: nowrap;
    
    width: 288px;
    height: 92px;
    margin-top: 133px;
    margin-left: 199px;

    font-family: Rubik,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 78px;
    line-height: 92px;

    color: #000000;
}
sup {
    font-size: 50%;
    font-weight: 400;
}
.premium__bearings {
    margin: 2px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;

    text-transform: uppercase;
    position: static;
    margin-left: 199px;

    color: #B1B2B3;
}

.production {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
    margin-bottom: 199.49px;
    padding: 76px 30px 64px 97px;
    left: 910px;
    top: 790px;
    position: absolute;
    height: 460px;
    width: 883px;
    background-color: #EEEEEE;
    justify-content: space-between;

    
}

.production__type {
    
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    
    margin-left: 96px;
    margin-top: 76px;
    transition: 2s; */

    cursor: pointer;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap:85px;
    width: 100%;
    max-width: 719px;
}

.production__type:hover path{
    stroke: #AB2421;
    transform: scale(.9);
}
.production__type:hover ellipse{
    stroke: #AB2421;
    transform: scale(.9);
}
.production__type:hover line{
    stroke: #AB2421;
    transform: scale(.9);
}
.production__type:hover circle{
    stroke: #AB2421;
    transform: scale(.9);
}

.production__type:hover .production__name {
    text-decoration:underline #AB2421;
}

.production__name {
    position: absolute;
    justify-content: space-between;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 155px;
    color: #AB2421;
}

.management__system {
    top: 1390px;
    left: 0px;
    position: absolute;
    width: 1023px;
    height: 620px;
    background: #AB2421;
}
.wms {
    position: absolute;
    width: 463px;
    height: 141px;
    margin-top: 194px;
    margin-left: 313px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

    /* белый */

    color: #FFFFFF;
    z-index: 1000;
}
.wms__h2 {
    position: absolute;
    width: 412px;
    height: 62px;

    margin-top: 355px;
    margin-left: 313px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 125%;

    letter-spacing: 0.02em;

    color: #FFFFFF;

    z-index: 1000;
}

.brandbook__car {
    position: absolute;
    width: 640.76px;
    height: 566.3px;
}

sup {
    top: -0.7em;
    font-weight: 700;
    font-size: 50%;
}

.brandbook__slider {
    position: absolute;
    background: url("../image/image\ 106\ \(1\).png") no-repeat center / cover;
    width: 897px;
    height: 620px;
    left: 1023px;
    top: 1390px;
}

.slider__btn {
    margin-top: 520px;
    margin-left: 100px;
    position: absolute;
    border: #FFFFFF;
    width: 100px;
    height: 100px;

}

.slider__next__btn {
    margin-top: 520px;
    border: #AB2421;
    border-radius: 0px;
    background: #AB2421;    
    position: absolute;
    width: 100px;
    height: 100px;
    right: 797px;
    transform: rotate(-180deg);
}


.slider__btn:hover{
    cursor: pointer;
    background-color:#AB2421;
    stroke: #AB2421;
}
.slider__btn:hover path{
    stroke: #FFFFFF;
}

.slider__next__btn:hover {
    cursor: pointer;
    background-color:#FFFFFF;
}
 

.slider__next__btn:hover path {
    stroke: #000000;
}

.warehouses{ 
    position: absolute;
    width: 1014px;
    height: 620px;
    left: 906px;
    top: 2010px;
    background: #B1B2B3;
}

.warehouses__car {
    display: flex;
    justify-content: end;
    margin-top: 175px;
    
}

.warehouses__text {

}

.warehouses__title {
    position: absolute;
    width: 558px;
    height: 141px; 

    margin-left: 101px;
    margin-top: 177px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    
    
    color: #FFFFFF;
}

.warehouses__subtitle {
    position: absolute;
    width: 456px;
    height: 93px;

    margin-left: 100px;
    margin-top: 338px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 125%;


    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.img__left__warehouses {
    position: absolute;
    width: 906px;
    height: 620px;
    left: 0px;
    top: 2010px;

    background: linear-gradient(180.96deg, rgba(0, 0, 0, 0) 30.35%, rgba(0, 0, 0, 0.5) 98.35%), url(../image/image\ 103\ \(2\).png);

    /* display: inline-block;
    overflow: hidden; */
}

/* .img__left__warehouses {
    transition: 1s; 
    display: block;
}

.img__left__warehouses:hover {
    transform: scale(1.1);
        
} */

.left__warehouses__btn {
    position: absolute;

    background-color: #B1B2B3;
    border: #B1B2B3;

    margin-top: 520px;
    margin-left: 806px;
    position: absolute;
    
    width: 100px;
    height: 100px;
}

.left__warehouses__next__btn {
    position: absolute;

    margin-top: 520px;
    border: #B1B2B3;
    border-radius: 0px;
    background: #AB2421;    
    
    width: 100px;
    height: 100px;
    right: 100px;
    transform: rotate(-180deg);
}

.left__warehouses__btn:hover{
    cursor: pointer;
    background-color:#AB2421;
    stroke: #AB2421;
}
.left__warehouses__btn:hover path{
    stroke: #FFFFFF;
}

.left__warehouses__next__btn:hover {
    cursor: pointer;
    background-color:#B1B2B3;
    border: #B1B2B3;
}
 

.left__warehouses__next__btn:hover path {
    stroke: #FFFFFF;
} 

.technical__service {
    position: absolute;
    width: 1017px;
    height: 620px;
    top: 2630px;

    margin-left: -8px;

    background: #EEEEEE;
}

.technical__service__title {
    position: absolute;
    width: 493px;
    height: 94px;
    margin-top: 185px;
    margin-left: 307px;
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    
    color: #242526;
    
}

.technical__service__subtitle {
    position: absolute;
    width: 473px;
    height: 93px;
    margin-top: 299px;
    margin-left: 307px;
    
    /* main txt для главноя */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 125%;
    /* or 31px */
    
    letter-spacing: 0.02em;
    
    color: #1F1111;
    
}

.technical__service__gps {
    margin-top: 197.31px;
}

.the_man_in_the_red_shirt_or_blue {
    position: absolute;
    width: 903px;
    height: 620px;
    left: 1017px;
    top: 2630px;

    background: url(../image/image\ 143\ \(2\).png);
}

.man__btn {
    bottom: 0px;
    position: absolute;
    border: #EEEEEE;
    width: 100px;
    height: 100px;
    transform: rotate(-180deg);
}
.man__next__btn {
    margin-top: 520px;
    border: #AB2421;
    border-radius: 0px;
    background: #AB2421;    
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 520px;
    margin-left: 100px;
}

.man__btn:hover{
    cursor: pointer;
    background-color:#AB2421;
    stroke: #AB2421;
}
.man__btn:hover path{
    stroke: #FFFFFF;
}

.man__next__btn:hover {
    cursor: pointer;
    background-color:#FFFFFF;
}

.man__next__btn:hover path {
    stroke: #000000;
}

.application__work {
    position: absolute;
    width: 1010px;
    height: 620px;
    background: #57585A;
    left: 910px;
    top: 3250px;
}

.work__nstop__title {
    position: absolute;
    width: 404px;
    height: 94px;
    margin-top: 160px;
    margin-left: 104px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

    color: #FFFFFF;
}

.work__nstop__subtitle {
    position: absolute;
    width: 472px;
    height: 93px;
    margin-top: 274px;
    margin-left: 104px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 125%;

    letter-spacing: 0.02em;

    color: #FFFFFF;
}
.work__car {
    margin-left: 724px;
    position: absolute;
    width: 250.28px;
    height: 221.61px;

    background: #57585A;
}

.application__work__btn {
    cursor: pointer;
    box-sizing: border-box;

    position: absolute;


    margin-top: 404px;
    margin-left: 100px;
    width: 277px;
    height: 55px;

    background-color: transparent;

    border: 2px solid #FFFFFF;
    border-radius: 50px;
    font-family: 'Rubik';
    font-style: normal;
    justify-content: center;

    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    color: #FFFFFF;
}


.application__work__btn:hover {
    color: #AB2421;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #AB2421
}

.video_player {
    position: absolute;
    width: 910px;
    height: 620px;
    left: 0px;
    top: 3250px;

    background: url(../image/image\ 144\ \(2\).png);
}

.circle__btn {
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.play__btn {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.circle__btn:hover path{
    
    fill: #FFFFFF;
    transform: scale(1.01);
}

.video_player__btn {
    cursor: pointer;
    bottom: 0px;
    position: absolute;
    border: #AB2421;
    background:#AB2421;
    width: 100px;
    height: 100px;
    margin-left: 710px;
    transform: rotate(-180deg);
}

.video_player__next__btn {
    cursor: pointer;
    border: #57585A;
    border-radius: 0px;
    background: #57585A;   
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 520px; 
    margin-left: 810px;
}

.video_player__btn:hover{
    
    background-color:#57585A;
    stroke: #FFFFFF;
}
.video_player__btn:hover path{
    stroke: #FFFFFF;
}

.video_player__next__btn:hover {
    background-color:#AB2421;
}

.video_player__next__btn:hover path {
    stroke: #FFFFFF;
} 

.catalog {
    position: absolute;
    width: 1920px;
    /* height: 969.39px; */
    height: 1069px;
    left: 0px;
    top: 3870px;
}
.container__catalog {
    margin-top: 179px;
    position: absolute;
    margin-left: 202px;
    width: 557px;
    height: 212px;
    z-index: 1000;
}


/* .line__catalog {
    position: absolute;
    width: 1920px;
    height: 0px;
    left: 0px;
    top: 4933.5px;
} */

.catalog__title {

    position: absolute;
    width: 528px;
    height: 117px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;

    letter-spacing: 0.02em;

    color: #1F1111;
}

.btn__catalog {
    cursor: pointer;
    position: absolute;
    display: flex;

    right: 0 auto;
    bottom: 0;
    position: absolute;

    width: 261px;
    height: 55px;
    background: #AB2421;
    border-radius: 50px;
    border: 2px solid #AB2421;

    position: absolute;


    /* width: 171px;
    height: 21px;
    left: calc(50% - 171px/2);
    top: calc(50% - 21px/2); */

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;

    color: #F9F9F9;
}

.btn__catalog_shop {
    cursor: pointer;
    box-sizing: border-box;
    right: 0;
    bottom: 0;
    position: absolute; 
    width: 277px;
    height: 55px;

    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 50px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #1F1111;
}

.btn__catalog:hover {
    background: #ffffff;
    border: 2px solid #AB2421;
    color: #AB2421;
}

.btn__catalog_shop:hover {
    background: #ffffff;
    border: 2px solid #AB2421;
    color: #AB2421;
}

.catalog__line {
    
    position: absolute;
    bottom: 39.5px;
}
.product__NTN {
    margin: 0;
}

.product__img1 {
    display: flex;
    position: absolute;

    width: 297px;
    height: 159.44px;

    top: 857px;
    left: 32px;
}

.product__img2 {
    position: absolute;

    width: 343px;
    height: 321.44px;

    top: 695.5px;
    left: 278px;
}

.product__img3 {
    position: absolute;

    width: 438.32px;
    height: 397.44px;   

    top: 616px;
    left: 632px;
}

.product__img4 {
    position: absolute;

    width: 970.87px;
    height: 975.08px;

    top: 41px;
    right: 0;
}

.productin__text1 {
    position: absolute;
    display: flex;
    margin-right: 0;
    left: 87px;
    bottom: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    letter-spacing: 0.02em;

    color: #1F1111;

}

.productin__text2 {
    position: absolute;
    display: flex;
    padding-left: 375px;
    bottom: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    letter-spacing: 0.02em;

    color: #1F1111;
}


.productin__text3 {
    position: absolute;
    display: flex;
    padding-left: 705px;
    bottom: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    letter-spacing: 0.02em;

    color: #1F1111;

}

.productin__text4 {
    position: absolute;
    padding-top: 0px;
    padding-left: 1271px;
    bottom: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;


    letter-spacing: 0.02em;

    color: #1F1111;
}

.company {
    position: absolute;

    width: 1920px;
    height: 525px;


    left: 0;
    top: 5129px;

}

.reviews {
    display: flex;
    position: absolute;
    width: 1513px;
    height: 117px;
    left: 117px;
    align-items: center;


}

.reviews__title {
    position: absolute;

    width: 486px;
    height: 117px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;

    letter-spacing: 0.02em;
    color: #1F1111;
}
.btn__reviews {
    cursor: pointer;
    position: absolute;
    background: #FFFFFF;

    border: 2px solid #000000;
    border-radius: 50px;
    right: 0;
    width: 326px;
    height: 55px;

    align-items: center;
    text-align: center;
    justify-content: center;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    

    color: #1F1111;
}

.btn__reviews:hover {
    border: 2px solid #AB2421;
    color: #AB2421;
}

.reviews__company {
    box-sizing: border-box;
    display: grid;
    position: absolute;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 44px;
    padding-left: 2px;
    padding-right: 2px;
    width: 1916px;
    height: 348px;
    margin-top: 177px;
}

.logo__company {
    box-sizing: border-box;
    width: 152px;
    height: 152px; 
    border: 1px solid #DFDFDF;
}

.company__img {
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.news__offers {
    position: absolute;
    width: 1920px;
    height: 944px;
    top: 5775px;
    left: 0;
}

.title__news__contant {
    width: 1920px;
    height: 78px;
    
}

.news_text__title {
    position: absolute;
    margin-left: 200px;
    width: 502px;
    height: 47px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    
    color: #242526;

}

.allnews_text__title {
    position: absolute;
    text-decoration:none;
    display: flex;
    margin-top: 22px;
    width: 113px;
    height: 21px;
    margin-left: 748px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #AB2421;
    
}

.big_main_contant {
    cursor: pointer;
    position: absolute;
    width: 910px;
    height: 866px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.27%, rgba(0, 0, 0, 0.8) 100%), url(../image/main_news.png);

}
.photo__gallery__unit {
    
    position: absolute;
    width: 128px;
    height: 36px;
    margin-top: 697px;
    margin-left: 64px;
    background: #AB2421;
}
.photo__gallery__unit__text {
    
    position: absolute;
    text-decoration:none;
    width: 93px;
    height: 17px;
    margin-left: 19px;
    margin-top: 10px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;


    text-transform: uppercase;

    color: #F9F9F9;

}
.main__text_photo__gallery {
    position: absolute;
    text-decoration: none;
    width: 629px;
    height: 70px;
    margin-top: 753px;
    margin-left: 67px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 140%;

    letter-spacing: 0.02em;

    color: #F9F9F9;
}

.grid__other__news__contant {
    position: absolute;
    left: 960px;
    height: 866px;
    width: 960px;


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.other__news__contant1 {
    cursor: pointer;
    width: 455px;
    height: 408px;
}

.unit__review1 {
    position: absolute;
    width: 80px;
    height: 36px;

    margin-top: 0px;
    margin-left: 50.11px;
    
    background: #AB2421;
}

.unit__review__text1 {
    position: absolute;
    width: 42.09px;
    height: 17px;

    margin-top:11px;
    margin-left: 19.04px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    
    text-transform: uppercase;
    
    color: #F9F9F9;
}

.other__news__title1 {
    position: absolute;
    width: 358.79px;
    height: 93px;

    margin-top: 66px;
    margin-left: 50.11px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    
    letter-spacing: 0.02em;
    
    color: #F9F9F9;
}

.other__news__subtitle1 {
    position: absolute;
    width: 342.75px;
    height: 88px;

    margin-top: 179px;
    margin-left: 50.11px;



    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;



    color: #FFFFFF;

}

.other__news__date1 {
    position: absolute;
    width: 51px;
    height: 17px;

    margin-top: 363px;
    margin-left: 50.11px;


    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;

    text-transform: uppercase;

    color: #F9F9F9;
}

.other__news__contant2 {
    cursor: pointer;
    width: 455px;
    height: 408px;
}

.unit__review2 {
    position: absolute;
    width: 166px;
    height: 36px;

    margin-top: 0px;
    margin-left: 50px;
    
    background: #AB2421;
}

.unit__review__text2 {
    position: absolute;
    width: 133.29px;
    height: 17px;

    margin-top:11px;
    margin-left: 19.04px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    
    text-transform: uppercase;
    
    color: #F9F9F9;
}

.other__news__title2 {
    position: absolute;
    width: 358.79px;
    height: 93px;

    margin-top: 66px;
    margin-left: 50px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    
    letter-spacing: 0.02em;
    
    color: #F9F9F9;
}

.other__news__subtitle2 {
    position: absolute;
    width: 342.75px;
    height: 88px;

    margin-top: 179px;
    margin-left: 50px;



    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;



    color: #FFFFFF;

}

.other__news__date2 {
    position: absolute;
    width: 51px;
    height: 17px;

    margin-top: 363px;
    margin-left: 50.11px;


    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;

    text-transform: uppercase;

    color: #F9F9F9;
}

.other__news__contant3 {
    cursor: pointer;
    width: 455px;
    height: 408px;
}

.unit__review3 {
    position: absolute;
    width: 98px;
    height: 36px;

    margin-top: 0px;
    margin-left: 49.46px;
    
    background: #AB2421;
}

.unit__review__text3 {
    position: absolute;
    width: 133.29px;
    height: 17px;

    margin-top:11px;
    margin-left: 19.04px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    
    text-transform: uppercase;
    
    color: #F9F9F9;
}

.other__news__title3 {
    position: absolute;
    width: 354.11px;
    height: 93px;   

    margin-top: 66px;
    margin-left: 50px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    
    letter-spacing: 0.02em;
    
    color: #F9F9F9;
}

.other__news__subtitle3 {
    position: absolute;
    width: 352.13px;
    height: 88px;

    margin-top: 179px;
    margin-left: 50px;



    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;



    color: #FFFFFF;

}

.other__news__date3 {
    position: absolute;
    width: 51px;
    height: 17px;

    margin-top: 363px;
    margin-left: 50.11px;


    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;

    text-transform: uppercase;

    color: #F9F9F9;
}

.other__news__container__img3_ {
    width: 455px;
    height: 408px;

}



.other__news__container__img3_:hover {
    
}

.other__news__container__img4_ {
    width: 455px;
    height: 408px;
}

.other__news__contant4 {
    cursor: pointer;
    width: 455px;
    height: 408px;
}

.unit__review4 {
    position: absolute;
    width: 98px;
    height: 36px;

    margin-top: 0px;
    margin-left: 49.46px;
    
    background: #AB2421;
}

.unit__review__text4 {
    position: absolute;
    width: 133.29px;
    height: 17px;

    margin-top:11px;
    margin-left: 19.04px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    
    text-transform: uppercase;
    
    color: #F9F9F9;
}

.other__news__title4 {
    position: absolute;
    width: 354.11px;
    height: 93px;   

    margin-top: 66px;
    margin-left: 50px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    
    letter-spacing: 0.02em;
    
    color: #F9F9F9;
}

.other__news__subtitle4 {
    position: absolute;
    width: 352.13px;
    height: 88px;

    margin-top: 179px;
    margin-left: 50px;



    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;



    color: #FFFFFF;

}

.other__news__date4 {
    position: absolute;
    width: 51px;
    height: 17px;

    margin-top: 363px;
    margin-left: 50.11px;


    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;

    text-transform: uppercase;

    color: #F9F9F9;
}

.sending__spam__container {
    position: absolute;
    top: 6769px;
    left: 0;
    width: 1920px;
    height: 592px;
    background: #EEEEEE;
}

.spam__title { 
    position: absolute;
    margin-top: 101.07px;
    margin-left: 200px;

    width: 761px;
    height: 94px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

    color: #1F1111;

}

.spam__subtitle {
    position: absolute;
    margin-top: 215.07px;
    margin-left: 200px;
    width: 947px;
    height: 78px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 0.02em;

    color: #1F1111;
}

.form__spam {
    width: 887px;
    height: 55px;
    margin-left: 200px;
    margin-top: 313.07px;
}
.form__input {
    position: absolute;
    width: 672.91px;
    margin-bottom: 30px;
    padding: 18px 27px 15px 27px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: var(--white-color);
    border: 2px solid #e0e0e0;
    border-radius: 50px;
    outline: none;
    line-height: 20.15px;
    max-height: 55px;

    background: #FFFFFF;
}

.form__input__text {
    position: absolute;


    margin-top: 18px;
    margin-left: 27px;
    

    pointer-events: none;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    transition: all .3s;

    color: #1F1111;
}

/* .spam__email__error {
    position: absolute;
    width: 301px;
    height: 75.5px;
    top: 305px;
    right: 730px;
    background: #FFFAD1;
    border-radius: 20px;
} */

.form__input:focus ~ .form__input__text,
.form__input:not(:placeholder-shown) ~ .form__input__text {
    margin-top: 6px;
    font-size: 11px;
    line-height: 15.4px
}

.form__input:valid {
    /* border: 2px solid #6FCF97;
    border-radius: 50px; */
} 
  
.form__input:invalid{
    border: 2px solid #AB2421;
    border-radius: 50px;
}

.btn__subscribe {
    cursor: pointer;
    position: absolute;

    width: 247.37px;
    height: 55px;  
    margin-left: 641.63px;
    justify-content: center;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #F9F9F9;
    border: #AB2421;


    background: #AB2421;
    border-radius: 50px;
}

.btn__subscribe:hover {
    color: #AB2421;
    border: 2px solid #AB2421;
    background: #F9F9F9;
}

.personal__data__text {
    text-decoration: none;
    position: absolute;
    width: 607px;
    height: 26px;
    margin-top: 9px;
    margin-left: 200px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;


    letter-spacing: 0.02em;


    color: #4D4D4D;

}

.logo__spam {
    position: absolute;
    margin-left: 1534px;
    bottom: 267.66px;

}

.spam__checkboxes {
    display: grid;
    margin-top: 59px;
    margin-left: 200px;
    width: 887px;
    height: 71px;
    grid-template-columns: max-content max-content;
    grid-gap: 37px;
    grid-column-gap: 21px;
    grid-row-gap: 23px;
}

.checkbox1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #1F1111;
}

.checkbox2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    
    color: #1F1111;
}

.checkbox3 { 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    
    color: #1F1111;
}

.checkbox4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    
    color: #1F1111;
}

.end {
    position: absolute;
    left: 0;
    top:7361px;
    width: 1920px;
    height: 969px;
}

.communication__container {
    position: absolute;
    margin-top: 90px;
    margin-left: 200px;
    width: 1541px;
    height: 484.99px;
}

.title_end  {
    position: absolute;
    width: 379px;
    height: 47px;


    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

    color: #1F1111;
}

/* .communication__form {
    position: absolute;
    width: 889px;
    height: 392px;
    margin-top: 40px;

    background: rgb(149, 131, 13);
} */
.communication__name {
    position: absolute;
    margin-top: 87px;
    width: 889px;
    height: 55px;
    
}

.communication__input__name {
    position: absolute;

    width: 889px;
    height: 55px;
    background: #FFFFFF;

    padding: 18px 27px 15px 27px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #E0E0E0;
    border-radius: 50px;
}

.communication__text__name {
    position: absolute; 
    margin-top: 18px;
    margin-left: 27px;
    pointer-events: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    transition: all .3s;

    color: #1F1111;
}

.communication__input__name:focus ~ .form__input__text,
.communication__input__name:not(:placeholder-shown) ~ .communication__text__name {
    border: 2px solid #E0E0E0;
    margin-top: 6px;
    font-size: 11px;
    line-height: 15.4px
}

.communication__input__name:valid {
    border: 2px solid #E0E0E0;
    border-radius: 50px;
} 
  
/* .communication__input__name:invalid{
    border: 2px solid #AB2421;
    border-radius: 50px;
} */

.communication__number {
    position: absolute;

    margin-top: 172px;
    width: 889px;
    height: 55px;
}

.communication__input__number {
    position: absolute;
    width: 889px;
    height: 55px;
    background: #FFFFFF;

    padding: 18px 27px 15px 27px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #E0E0E0;
    border-radius: 50px;
}


.communication__text__number {
    position: absolute; 
    margin-top: 18px;
    margin-left: 27px;
    pointer-events: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    transition: all .3s;

    color: #1F1111;
}

.communication__input__number:focus ~ .form__input__number,
.communication__input__number:not(:placeholder-shown) ~ .communication__text__number {
    margin-top: 6px;
    font-size: 11px;
    line-height: 15.4px
}

.communication__input__number:valid {
    border: 2px solid #E0E0E0;
    border-radius: 50px;
} 

.communication__email {
    position: absolute;

    margin-top: 257px;
    width: 889px;
    height: 55px;
}







.communication__email {
    position: absolute;
    margin-top: 172px;
    width: 889px;
    height: 55px;
}

.communication__input__email {
    position: absolute;
    width: 889px;
    height: 55px;
    background: #FFFFFF;

    padding: 18px 27px 15px 27px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #E0E0E0;
    border-radius: 50px;
}


.communication__text__email {
    position: absolute; 
    margin-top: 18px;
    margin-left: 27px;
    pointer-events: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    transition: all .3s;

    color: #1F1111;
}

.communication__input__email:focus ~ .form__input__number,
.communication__input__email:not(:placeholder-shown) ~ .communication__text__email {
    margin-top: 6px;
    font-size: 11px;
    line-height: 15.4px
}

.communication__input__email:valid {
    border: 2px solid #E0E0E0;
    border-radius: 50px;
} 

.communication__email {
    position: absolute;
    cursor: pointer;
    margin-top: 257px;
    width: 889px;
    height: 55px;
}

.btn__communication {
    position: absolute;
    cursor: pointer;
    margin-top: 342px;
    width: 889px;
    height: 55px;
    border: 2px solid #AB2421;
    background: #AB2421;
    border-radius: 50px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #F9F9F9;
}

.btn__communication:hover {
    color: #AB2421;
    border: 2px solid #AB2421;
    background: #F9F9F9;
}

.user__contract { 
    position: absolute;
    width: 592px;
    height: 52px;
    margin-top: 427px;
    margin-left: 23px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    /* or 186% */

    letter-spacing: 0.02em;

    /* grey1 */

    color: #4D4D4D;
}

.delivery {
    position: absolute;
    margin-top: 82px;
    margin-left: 1145px;

    position: absolute;
    width: 301px;
    height: 78px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;

    letter-spacing: 0.02em;

    color: #1F1111;
}

.manager {
    position: absolute;
    margin-top: 190px;
    margin-left: 1143px;
    width: 398px;
    height: 195px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;

    letter-spacing: 0.02em;

    color: #1F1111;
    
}

.msc {
    position: absolute;
    margin-top: 388px;
    margin-left: 1143px;
    width: 239px;
    height: 25px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;

    letter-spacing: 0.02em;

    color: #1F1111;
}

.youtube {
    position: absolute;
    cursor: pointer;
    margin-top: 445px;
    margin-left: 1143px;
    width: 52px;
    height: 37px;
}

.vk {
    position: absolute;
    cursor: pointer;
    margin-top: 442px;
    margin-left: 1208px;
    width: 42.99px;
    height: 42.99px;
}

.youtube:hover path {
    fill:#AB2421;
} 

.vk:hover path{
    fill:#AB2421;
} 

.footer {
    position: absolute;
    top:7937px;
    left: 0;
    width: 1920px;
    height: 394.01px;
}

.footer__leg {
    position: absolute;
    width: 1163px;
    height: 201px;
    margin-left: 200px;
    bottom: 73.01px;
}

.footer__logo {
    position: absolute;
    width: 1161px;
    height: 106.46px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logotip__leg {
    position: absolute;
    left: 0;
}

.navigation__leg {
    position: absolute;
    width: 574px;
    height: 39px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation__nav {
    
    position: absolute;

}

.navigation__link {
    
    margin-right: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: opacity .2s linear;
    width: 99px;
    height: 19px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */


    color: #000000;
}
.navigation__link1 {
    position: absolute;
    transition: opacity .2s linear;
    left: 553px;
}

.navigation__link:hover {
    color: #AB2421;
}

.navigation__link1:hover circle {
    stroke:#AB2421;
}

.navigation__link1:hover line {
    stroke:#AB2421;
}

.creator {
    justify-content: space-between;
    align-items: center;
}

.rules__protection {
    text-decoration: none;
    position: absolute;
    width: 787px;
    height: 22px;
    bottom: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    color: #3B3B3B;

    opacity: 0.6;
}

.creator__amado {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    
    align-items: center;
    justify-content: center;
}

.amado {
    text-decoration: none;
    display: flex;
    padding-right: 9.73px;
    width: 132px;
    height: 22px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    color: #3B3B3B;

    opacity: 0.6;
}