.body {
    width: 100%;
    min-width: 360px;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Roboto,serif;
    position: relative;
}

::-webkit-scrollbar { width: 0px; display: none; }

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.header {
    padding: 50px;
    margin-left: 123px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    position:absolute;
    z-index: 1000;
}

.container {
    margin: 0 auto;
    
}

.header__inner { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    
}

.nav__link {
    margin-left: 15.5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: .75;
    transition: opacity .2s linear;
}

.nav__link:hover {
    color: #AB2421;
}

.nav__link_svg:hover path{
    stroke: #AB2421;
}

.nav__link {
    margin-left: 30px;
    text-decoration: none;
}

.header__info {
    margin-left: 30px;
    text-decoration: none;
    margin-left: 409px;
}



.intro { 
    display: flex;
    flex-direction: column;
    justify-content:left;
    position: absolute;
    width: 1920px;
    height: 890px;
    left: 0px;
    top: 0px;
    background: pink;
}

.intro__title {
    
    position: absolute;
    width: 727px;
    height: 156px;
    left: 203px;
    top: 449px;


    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;

    color: #FFFFFF;

}

.intro__title2 { 
    position: absolute;
    width: 746px;
    height: 62px;
    left: 203px;
    top: 625px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 125%;

    letter-spacing: 0.02em;

    color: #FFFFFF;

}

.slider {
    width: 890px;
    height: 1920px;
}

.slider-line {
    width: 4450px;
    display: flex;
    position: relative;
    left: 0px;
    transition: all ease .6s;
}

.slider-img {
    height: 890px;
    width: 1920px;
}

  
.logo__name {
    
    position: absolute;
    width: 295px;
    height: 153px;
    left: 199px;
    top: 210px;
}

.btn__bell {
    cursor: pointer;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;

    color: #FFFFFF;

    box-sizing: border-box;
    position: absolute;
    width: 177px;
    height: 40px;
    top: calc(50% - 40px/2);
    justify-content: center;
    margin-left: 30px;
    background-color: transparent;

    border: 2px solid #FFFFFF;
    border-radius: 50px;
}

.btn__bell:hover {
    color: #AB2421;
    border: 2px solid #AB2421
}

.btn__logo {
    position: relative;
    margin-top: 96px;
    left: -625px;
    top: -221px;
    background: #AB2421;
    border-radius: 50px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    border-color: #AB2421;
    color: #FFFFFF;

    box-sizing: border-box;
    width: 261px;
    height: 55px;


}

.btn__logo:hover{
    cursor: pointer;
    color: #AB2421;
    background-color: #FFFFFF;
    border: 2px solid #AB2421
}
.line {
    border-bottom: #AB2421;
    position: absolute;
    width: 935px;
    height: 4px;
    left: 0px;
    top: 886px;
    background: #AB2421;
    transform: rotate(-180deg);
}

.banner__btn {
    position: absolute;
    right: 711px;
    border: #FFFFFF;
    width: 100px;
    height: 100px;
}

.banner__next__btn {
    
    border: #AB2421;
    border-radius: 0px;
    background: #AB2421;    
    position: absolute;
    width: 100px;
    height: 100px;
    right: 810px;
    transform: rotate(-180deg);
}

.banner__btn:hover{
    cursor: pointer;
    background-color:#AB2421;
    stroke: #AB2421;
}
.banner__btn:hover path{
    stroke: #FFFFFF;
}

.banner__next__btn:hover {
    cursor: pointer;
    background-color:#FFFFFF;
}

.banner__next__btn:hover path {
    stroke: #000000;
}

.position__product {
    position: absolute;

    left: 0px;
    top: 890px;
    height: 499px;
    width: 910px;   
    background-color: #FFFFFF;
}


@media (max-width: 1280px) {
    .intro {
        width: 1280px;
        height: 700px;
    }

    .intro__title {
        left: 60px;
        top: 350px;

        font-weight: 500;
        font-size: 36px;
        line-height: 43px;

        width: 613px;   
        height: 129px;

    }

    .intro__title2 {
        left: 60px;
        top: 499px;

        font-weight: 400;
        font-size: 20px;
        line-height: 125%;
        width: 613px;
        height: 50px;
    }

    .logo__name {
        left: 60px;
        top: 148px;
        width: 214px;
        height: 110px;  
    }

    .btn__logo {
        left: -446px;
        top: -208px;;
    }

    .line {
        top: 700px;
        width: 935px;
        height: 4px;
    }

    .banner__btn {
        right: 461px;
        width: 70px;
        height: 70px;
    }

    .banner__next__btn {
        width: 70px;
        height: 70px;
        right: 530px;
    }

    .header {
        padding: 40px;
        margin-left: 0px;
    }

    .nav__link {
        width: 95px;
        height: 17px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }

    .header__info {
        margin-left: 131px;
    }

    .slider {
        width: 1280px;
        height: 700px;
    }

    .slider-line {
        width: 6400px;
    }
    .slider-img {
        height: 700px;
        width: 1280px;
    }
}

